@import url(../../variable.css);


.Defheichone {
    font-family: "f4";
    color: var(--color1);
    width: 100%;
    text-align: center;
    font-size: 5em;
    
    float: left;
    height: auto;
}


.Defheichtwo {
    font-family: "f3";
    color: var(--color2);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    
    float: left;
    height: auto;
}

.Defheichtre {
    font-family: "f2";
    color: var(--color3);
    float: left;
    text-align: center;
    font-size: 1em;
    height: auto;
  
}
