.listofteck {
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 0, 0, 0.17);
    border-radius: 13px;
}

.listofteck img {
    /* background: red; */
    width: 25%;
    height: auto;
}

.countainer {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
    float: left;

}

.safawfafef {
    width: 60%;
    float: left;
    margin-left: 20%;
    height: 5px;
    border: none;
    background: red;
    border-radius: 5px;
    opacity: .15;
}


.aeof4rhqw9f h1 {
    margin: 0;
    margin-bottom: 48px;
    margin-top: 32px;
}

@media only screen and (max-width: 800px) {
    .countainer {
        width: 90%;
        margin-left: 5%;
    }


}