.personallogoidis33112244845 .cls-1,
.personallogoidis33112244845 .cls-6 {
    fill: #d0d0d0;
}

.personallogoidis33112244845 .cls-1 {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 20px;
}

.personallogoidis33112244845 .cls-2 {
    fill: #dfdfdf;
}

.personallogoidis33112244845 .cls-3 {
    fill: #e0e1e1;
}

.personallogoidis33112244845 .cls-4 {
    fill: #e1e1e1;
}

.personallogoidis33112244845 .cls-5 {
    fill: #3e3d3d;
}




.Instagram .cls-1 {
    fill: #f3f3f3;
    width: 10px;
}

.Pintrest .cls-1 {
    fill: #f3f3f3;
}

.Dribbble .cls-1 {
    fill: #f3f3f3;
}

.Twitter .cls-1 {
    fill: #f3f3f3;
}

.Youtube .cls-1 {
    fill: #f3f3f3;
}

.Github .cls-1 {
    width: 10px;
    fill: #f3f3f3;
}