@import url("../../variable.css");

.listediteminacfaoeu span{
    font-family: "f2" !important;
    direction: rtl !important;
    text-align: right;
}
.chwgh3wegf8704f  {
    width: 20%;
    height: 10px;
    margin-bottom: 7px;
    border-radius: 50px;
    margin-right: 40%;
    background: rgba(255, 255, 255, 0.25);
    margin-top: 20px;

}